.category-main-box{
    display: flex;
    position: relative;
}

.category-box{
    flex: 1;
    padding: 10px;
}

.category-first-box{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid;
    border-color: #dee2e6;
}

.category-heading{
    font-size: 20px;
    padding: 10px;
}

.category-first-box-add-button{
    font-size: 14px;
    width: 125px;
    border: none;
    outline: none;
    background-color: #44c9d6;
    color: white;
}

.category-first-box > button:hover{
    background-color: #11a8b6;
}

.category-second-box{
    margin-top: 10px;
}


/* material ui modal */

.category-modal-box{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 24;
    padding: 20px;
    border: none;
}

.category-modal-button{
    display: flex;
    justify-content: flex-end;
}


/* react bootstrap table */
.category-react-table-th{
    font-weight: 500;
}



/* media query for mobile */
@media only screen and (max-width:768px) {
    .category-second-box{
        width: 600px;
        overflow-x: scroll;
    }
}